::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, blue, aqua);;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover{
     cursor: pointer;
}